<header class="navbar navbar-fixed-top navbar-inverse navbar-default">
  <div class="container">
    <%= link_to "爱你", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, id: "navbar-button" %></li>
        <% if logged_in? %>
          <li><%= link_to "Album", events_index_path, id: "navbar-button" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="account-button" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user), id: "navbar-button" %></li>
              <li><%= link_to "Settings", "#", id: "navbar-button" %></li>
              <li class="divider"><li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete, id: "navbar-button" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Log in", login_path, id: "navbar-button" %></li>
            <% end %>
      </ul>
    </nav>
  </div>
</header>